<div class="row">

  <canvas id='game'>
    Your browser doesn't support this game. :(
  </canvas>

  <div id='loading'>
    <div id='loading_container'>
      <div id='loading_progress'>
        <span>loading...</span>
      </div>
    </div>
  </div>

</div>

<div class="row control-infos show-for-large-up">
    <div class="small-12 columns control-info-text fire">
        <div><i class="fa fa-arrow-up"></i></div>
        <div>fire</div>
    </div>
    <div class="small-6 columns control-info-text left">
        <i class="fa fa-arrow-left"></i> move left
    </div>
    <div class="small-6 columns control-info-text right">
        move right <i class="fa fa-arrow-right"></i>
    </div>
</div>
