<div class="menu-content">
    {{#each buttons as |button index|}}
        {{#game-menu/button index=index active=button.active buttonAction=(action button.action)}}
            {{fa-icon button.icon size="lg"}} {{button.display}}
        {{/game-menu/button}}
    {{/each}}
</div>
