<div class="overlay_bg"></div>
<div class="overlay">
  <div class="content">
    <div class="close" {{action 'close'}}>{{fa-icon 'close'}}</div>
    {{yield}}
    {{ad-banner id='overlay_banner'}}
  </div>
</div>
