<div class="login-info">
  <div>{{fa-icon "rocket" size="lg"}}</div>
  <div>Fly as far as you can.</div>
  <div>
    <span class="fa-stack">
      {{fa-icon "fa-circle-o" stack=2}}
      {{fa-icon "fa-star" stack=1}}
    </span>
  </div>
  <div>Unlock achievements.</div>
  <div>{{fa-icon "fa-flask" size="lg"}}</div>
  <div>Invent new shields and weapons.</div>
</div>
