<div class="login-info">
  <div>{{fa-icon "trophy" size="lg"}}</div>
  <div>Be on top of the leaderboard.</div>
  <div>{{fa-icon "group" size="lg"}}</div>
  <div>Play with your friends.</div>
  <div>{{fa-icon "pencil" size="lg"}}</div>
  <div>Leave a comment.</div>
</div>
