.game-container {
	// default
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	// only on mobile
	@media (max-width: 799px) {
		position: absolute;
	}
	// on tablet
	@media (min-width: 800px) {
		flex-grow: 2;
		height: 592px;
		margin-left: 15px;
		margin-right: 15px;
		border: 4px solid $border-color;
		@include border-radius(15px);
	}
	// on large
	@media (min-width: 1200px) {
		// flex-grow: 2;
	}

	.game-canvas-container {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.menu {
			position: absolute;
			bottom: 0;
			top: 0;
			height: 100%;
		}
	}
}

#game {
	background-color: $lightblue;
	width: 100%;
	height: 100%;
	// not on mobile
	@media (min-width: 800px) {
		border-radius: 10px;
	}
}

.control-infos {
  font-size: 22px;
  padding: 5px 0;
  i {
    color: #333;
    border: 2px solid darken($darkblue, 20%);
    background-color: $darkblue;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    margin: 3px;
	@include border-radius(5px);
    &:hover {
      background-color: lighten($darkblue, 10%);
    }
  }
}
