.game-container {
	// default
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	// only on mobile
	@media (max-width: 799px) {
		position: absolute;
	}
	// on tablet
	@media (min-width: 800px) {
		flex-grow: 2;
		height: 592px;
		margin-left: 15px;
		margin-right: 15px;
		border: 4px solid $border-color;
		@include border-radius(15px);
	}
	// on large
	@media (min-width: 1200px) {
		// flex-grow: 2;
	}

	.game-canvas {
		background-color: blue;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#game {
	width: 100%;
	height: 100%;
	background-color: $lightblue;
}



.hud {
  .score {
    position: absolute;
    top: 17px;
    left: 10px;
    font-weight: bold;
    font-size: 2rem;
    color: $orange;
  }
}

.hud-list-group {
  table {
    background: none;
    border: none;
    tr, td {
      background-color: rgba(0,0,0,0);
    }
    td {
      padding: 5px;
      font-size: 1.5rem;
      font-weight: bold;
      &.resource-icon {
        text-align: center;
      }
      &.resource-value {
        text-align: right;
      }
    }
  }
  &.infos {
    position: absolute;
    top: 60px;
  }
  &.resources {
    position: absolute;
    top: 25px;
    right: 10px;
    .engine {
      i {
        margin-left: 4px;
      }
    }
  }
}

.control-infos {
  font-size: 22px;
  padding: 5px 0;
  i {
    color: #333;
    border: 2px solid darken($darkblue, 20%);
    background-color: $darkblue;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    margin: 3px;
	@include border-radius(5px);
    &:hover {
      background-color: lighten($darkblue, 10%);
    }
  }
}
