.hud {
	position: relative;
	top: -100%;
}

.hud-list-group {
	position: absolute;
	top: 5px;
	table {
		background: none;
		border: none;
		tr, td {
		  	background-color: rgba(0,0,0,0);
		}
		td {
	  		padding: 5px;
	  		font-size: 1.5rem;
	  		font-weight: bold;
			&.resource-icon {
				text-align: center;
			}
			&.resource-value {
				text-align: right;
			}
		}
	}
	&.infos {
	}
	&.resources {
		right: 0;
		.engine {
		  	i {
		    	margin-left: 4px;
		  	}
		}
	}
}
