<div class="buttons">
  <div class="button active start-stage" {{action "startStage"}}>START ( costs 1 {{fa-icon 'bolt'}} )</div>
  <div class="button select-stage" {{action "selectStage"}} {{action "activate" on=""}}>SELECT STAGE</div>
</div>
