<div class="buttons">
  <div class="button active start-stage" {{action "startStage"}}>START</div>
  <div class="button select-stage" {{action "selectStage"}} {{action "activate" on=""}}>SELECT STAGE</div>
</div>
