.gameOver {
  &.small {
    top: 200px;
  }
  &.big {
    top: 50px;
  }
  .congratz {
    font-family: Kraash;
    font-size: 20px;
    margin: 35px 0;
  }
  .congratz_menu {
    font-size: 45px;
    .item {
      margin: 0 5px;
      color: $darkblue;
      &:hover {
        cursor: pointer;
        color: lighten($darkblue, 10%);
      }
      &.active {
        color: white;
        &:hover {
          cursor: default;
        }
      }
    }
    .fa-stack {
      font-size: 27px;
    }
  }
  .congratz_sub {
    margin-bottom: 15px;
  }
  .score {
    font-size: 35px;
    margin-bottom: 20px;
    background: lightblue;
    color: #576C73;
  }
  .fb-button {
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid #2C2B54;
    text-align: center;
    &.post {
      margin: 25px 0;
    }
    &.login {
      position: absolute;
      margin-top: 90px;
      width: 50%;
      left: 50%;
      margin-left: -25%;
    }
  }
}
