.stage-selection {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  .title {
    font-family: Agency_FB;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
  }
  img {
    position: absolute;
  }
  .clouds {
    top: 77px;
    left: -50px;
    height: auto;
  }
  .stage {
    position: absolute;
    width: 46px;
  }
  .stage-number {
    position: absolute;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
  .stage-1 {
    top: 510px;
    left: 60px;
  }
  .stage-2 {
    top: 490px;
    left: 172px;
  }
  .stage-3 {
    top: 459px;
    left: 284px;
  }
  .stage-4 {
    top: 360px;
    left: 299px;
  }
  .stage-5 {
    top: 327px;
    left: 188px;
  }
  .stage-6 {
    top: 301px;
    left: 90px;
  }
  .stage-7 {
    top: 230px;
    left: 44px;
  }
  .stage-8 {
    top: 157px;
    left: 96px;
  }
  .stage-9 {
    top: 121px;
    left: 193px;
  }
}
