.achievements {
overflow: hidden;
}

.achievement-level {
padding: 3px 8px;
background-color: #2bc253;
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #54f054));
background-image: -webkit-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
background-image: -ms-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
background-image: -o-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
}
