button, .button {
  .button-text {
    @media (max-width: 1700px) {
      display: none;
    }
  }
}

button, .button {
  border: $border;
  &.locked, &.disabled {
    cursor: default;
  }
  &:not(.active) {
    background-color: #EBF3F6;
    color: $primary-text-color;
    &:hover {
      background-color: white;
    }
  }
  &.uncommon, &.success {
    color: $success-color;
    border-color: $success-color;
  }
  &.rare {
    color: $alert-color;
    border-color: $alert-color;
  }
  &.locked {
    color: $locked-color;
    background-color: $locked-bg-color;
    &:hover {
      color: $locked-color;
      background-color: $locked-bg-color;
      cursor: default;
    }
  }
  &.selected {
    &.common {
      color: white;
      background-color: $darkblue;
    }
    &.uncommon {
      color: white;
      background-color: $success-color;
    }
    &.rare {
      color: white;
      background-color: $alert-color;
    }
  }
}
