.cockpit {
  @media (max-width: 800px)
  {
    display: none;
  }

  @media (min-width: 801px) and (max-width: 1250px)
  {
    @include grid-column(
      // Control the number of columns
      $columns:6
    );
  }

  @media (min-width: 1251px)
  {
    @include grid-column(
      // Control the number of columns
      $columns:4
    );
  }

  .content {
    .player-infos {
      height: 110px;
      border-bottom: $border;

      .left-column {
        width: 60%;
        float: left;
      }

      .right-column {
        width: 40%;
        float: left;
      }

      .img_container {
        float: left;
        margin-right: 10px;
        height: 90px;
        width: 90px;
        background-color: $darkblue;
      }

      .name {
        font-size: 22px;
        line-height: 20px;
      }
    }

    #workbench {
      img {
        height: 100%;
      }

      #canon {
        position: absolute;
        left: 71px;
        bottom: 221px;
      }

      #shield {
        position: absolute;
        bottom: 217px;
        left: 374px;
      }

      #drive {
        position: absolute;
        left: 163px;
        bottom: 35px;
      }
    }
  }
}
