.cockpit {
  @media (max-width: 800px)
  {
    display: none;
  }

  @media (min-width: 801px) and (max-width: 1250px)
  {
    @include grid-column(
      // Control the number of columns
      $columns:6
    );
  }

  @media (min-width: 1251px)
  {
    @include grid-column(
      // Control the number of columns
      $columns:4
    );
  }

  .content {
    .player-infos {
      height: 110px;
      border-bottom: $border;

      .left-column {
        width: 60%;
        float: left;
      }

      .right-column {
        width: 40%;
        float: left;
      }

      .img_container {
        float: left;
        height: 90px;
        width: 90px;
        background-color: $darkblue;
      }

      .name {
        font-size: 22px;
        line-height: 20px;
      }
    }

    #workbench {

      margin-bottom: 5px;

      img {
        height: 100%;
      }

      #canon {
        position: absolute;
        left: 71px;
        bottom: 221px;
      }

      #shield {
        position: absolute;
        bottom: 217px;
        left: 374px;
      }

      #engine {
        position: absolute;
        left: 163px;
        bottom: 35px;
      }
    }
  }

  .upgrade-infos {

    height: 205px;
    margin-bottom: 5px;

    h2 {
      text-transform: capitalize;
    }

    .upgrade-content {
      position: relative;
      top: 5px;
      height: 160px;
      overflow: auto;
    }

    .block-button {
      margin-right: 5px;
    }

    .locked-info {
      padding: 12px 0;
    }
  }

  .info-table {
    width: 60%;
    float: right;
    margin-right: 20px;
  }

  .stats-table {
    width: 100%;
  }

  .stats-table, .info-table {
    tr {
      td {
        padding: 0.34rem 0.625rem;
      }
    }
  }

  .list-item {
    line-height: 65px;
    width: 100%;
    height: 70px;
  }

  .list-item-column {
    float: left;
  }

  .button-column {
    float: right;
    margin-right: 5px;
    height: 65px;

    .button {
      padding: 10px 15px;
      width: 100px;
      background-color: $darkblue;

      &:hover {
        background-color: lighten($darkblue, 5%);
      }
    }
  }
}
