@import "components/armada";
@import "components/lr-horizontal-nav";
@import "components/overlay";
@import "components/tooltip_component";
@import "components/user-avatar";

.confirm-dialog {
  position: absolute;
  background-color: $darkblue;
  font-size: 1.5rem;
  padding: 15px;
  top: 85px;
  right: 15px;
  left: 15px;
  bottom: 10px;
  border: 1px solid $primary-text-color;
  .button-container {
    margin-top: 20px;
  }
  .row.close {
    margin-top: 30px;
  }
}
