.upgrade-content {
  .component-level-upgrades {
    text-align: center;
  }
  .upgrade-button {
    @media (max-width: 1110px)
    {
      width: 75px !important;
      padding: 10px 0 !important;
    }
    @media (min-width: 1442px) and (max-width: 1620px)
    {
      width: 75px !important;
      padding: 10px 0 !important;
    }
  }
}

.model-upgrades {
  display: inline-block;
  &.capacity-upgrades {
    width: 162px;
  }
}

.level-upgrade {
  display: inline-block;
  width: 30px;
  line-height: 2rem;
  text-align: center;
  font-weight: normal;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:not(.active) {
    background-color: white;
  }
  &.locked {
    i {
      top: 15px;
      left: 11px;
      z-index: 9999;
    }
  }
  &.blocked {
    background-color: $darkgrey;
    color: white;
  }
}

.model-upgrades {
  &.unlocked {
    .level-upgrade {
      &.locked {
        cursor: pointer;
      }
      // &:not(.active) {
      //   cursor: pointer;
      // }
    }
  }
  &:not(.unlocked) {
    .level-upgrade {
      background-color: $darkgrey;
      color: white;
    }
  }
}

.capacity-upgrades {
  @media (min-width: 1110px) and (max-width: 1441px)
  {
    margin-left: 10px;
    margin-right: 25px;
  }
  @media (min-width: 1621px)
  {
    margin-left: 10px;
    margin-right: 25px;
  }
}
