.model-upgrades {
  display: inline-block;
  &.capacity-upgrades {
    width: 162px;
  }
}

.level-upgrade {
  display: inline-block;
  width: 30px;
  line-height: 2rem;
  text-align: center;
  font-weight: normal;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // .has-tip {
  //   &:hover {
  //     color: lighten($primary-text-color, 5%);
  //   }
  // }
  &:not(.active) {
    background-color: white;
  }
  &.locked {
    i {
      top: 15px;
      left: 11px;
      z-index: 9999;
    }
  }
}

.model-upgrades {
  &.unlocked {
    .level-upgrade {
      &:not(.active) {
        cursor: pointer;
      }
    }
  }
  &:not(.unlocked) {
    .level-upgrade {
      background-color: $darkgrey;
      color: white;
    }
  }
}

.capacity-upgrades {
  margin-left: 10px;
  margin-right: 25px;
}
