@import "components/armada";
@import "components/tooltip_component";

.confirm-dialog {
  position: absolute;
  background-color: $darkblue;
  font-size: 1.5rem;
  padding: 15px;
  top: 85px;
  right: 15px;
  left: 15px;
  bottom: 10px;
  border: 1px solid $primary-text-color;
  .button-container {
    margin-top: 20px;
  }
}
