@import "elements/buttons";
@import "elements/headlines";
@import "elements/img";
@import "elements/links";
@import "elements/tables";

.counter {
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  @include border-radius(30px);
  padding: 5px 9px;
  width: auto;
  background-color: #F17F40;
  z-index: 1;
}

p {
    font-size: 1.2rem;
	// only on mobile
	@media (max-width: 799px) {
		font-size: 1.1rem;
	}
}
