@font-face {
  font-family: Agency_FB;
  src:  url('/assets/fonts/agency_fb.ttf') format('truetype') /* Safari, Android, iOS, Chrome, Firefox */
}

@font-face {
  font-family: Kraash;
  src:  url('/assets/fonts/kraash_black.ttf') format('truetype') /* Safari, Android, iOS, Chrome, Firefox */
}
