#game-canvas-container {
  .fb-button {
    font-size: 1.2rem;
    padding: 3px;
    border: 1px solid #2C2B54;
    text-align: center;
    &.post {
      margin-top: 20px;
    }
    &.login {
      position: absolute;
      margin-top: 90px;
      width: 50%;
      left: 50%;
      margin-left: -25%;
    }
  }
  .active-challenge {
    border-color: $warning-color;
  }
}

.login-container {
  position: absolute;
  top: 27%;
  left: 50%;
  margin-left: -136px;
}

.hud {
  .score {
    position: absolute;
    top: 17px;
    left: 10px;
    font-weight: bold;
    font-size: 2rem;
    color: #F75806;
  }
  .resource {
    position: absolute;
    right: 21px;
    font-size: 1.5rem;
    font-weight: bold;
    &.ammo {
      top: 25px;
    }
    &.shield {
      top: 55px;
    }
    &.engine {
      top: 85px;
      i {
        width: 1.1em;
      }
    }
    i {
      margin-right: 10px;
    }
  }
}

.gameOver {
  position: absolute;
  bottom: 40%;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  border-radius: 5px;
  padding: 15px;

  background-color: #576C73;
  color: white;
  -webkit-box-shadow: 0px 2px 10px #666;	/* webkit browser*/
  -moz-box-shadow: 0px 2px 10px #666;	/* firefox */
  box-shadow: 0px 2px 10px #666;

  font-weight: 700;
  font-size: 1.2rem;
  font-family: Helvetica;
  text-align: center;
}
