#game_container {
  width: 100%;
  text-align: center;
}

#game {
  background-color: #ADD8E6;
  border: $border-thick;
  width: 100%;
  height: 600px;
  margin-top: 15px;
}

.game-canvas {
  margin: 0px auto;
  position: relative;
}

.hud {
  .score {
    position: absolute;
    top: 17px;
    left: 10px;
    font-weight: bold;
    font-size: 2rem;
    color: $orange;
  }
}

.hud-list-group {
  table {
    background: none;
    border: none;
    tr, td {
      background-color: rgba(0,0,0,0);
    }
    td {
      padding: 5px;
      font-size: 1.5rem;
      font-weight: bold;
      &.resource-icon {
        text-align: center;
      }
      &.resource-value {
        text-align: right;
      }
    }
  }
  &.infos {
    position: absolute;
    top: 60px;
  }
  &.resources {
    position: absolute;
    top: 25px;
    right: 10px;
    .engine {
      i {
        margin-left: 4px;
      }
    }
  }
}

.control-infos {
  font-size: 22px;
  padding: 5px 0;
  i {
    color: #333;
    border: 2px solid darken($darkblue, 20%);
    background-color: $darkblue;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    margin: 3px;
    border-radius: 5px;
    &:hover {
      background-color: lighten($darkblue, 10%);
    }
  }
}
