.fb-comments-container {
    height: 100%;
    overflow: auto;
}

.leaderboard {
  @media (max-width: 800px)
  {
    display: none;
  }

  @media (min-width: 801px) and (max-width: 1250px)
  {
    @include grid-column(
      // Control the number of columns
      $columns:6,
      // Specify how many columns to pull this element past
			$pull:6
    );
  }

  @media (min-width: 1251px)
  {
    @include grid-column(
      // Control the number of columns
      $columns:4
    );
  }

  .fb-publish-actions-not-granted {
		margin-bottom: 20px;
	}

	.leaderboard_list {
    position: relative;
    height: 98%;
    width: 100%;
    overflow: auto;
    font-size: 18px;

		.list-item {
			height: 	65px;
			margin-left: 0px !important;

      .rank_container {
  			float: left;
  			margin-right: 10px;
  			line-height: 50px;
  			font-size: 22px;
        width: 23px;
        text-align: right;
  		}

      .img_container {
  			float: left;
  			margin-right: 10px;
  			// line-height: 50px;

        img {
    			width: 50px;
    		}
  		}

      .name {
  			font-size: 22px;
        line-height: 1.5rem;
  		}

      .score_container {
        line-height: 1.5rem;
      }
		}

	}

}
