.fb-comments-container {
    height: 98%;
    overflow: auto;
}

.leaderboard {

    .fb-publish-actions-not-granted {
		margin-bottom: 20px;
	}

    .loader {
        text-align: center;
        font-size: 4rem;
        margin-top: 185px;
    }

	.leaderboard_list {
        position: relative;
        font-size: 18px;
        left: 0;
        margin-right: -17px;

		.list-item {

            .img_container {
                margin-right: 10px;
                align-self: center;
                img {
                    width: 50px;
                    height: 50px;
                }
            }

            .center_column {
                display: flex;
                flex-direction: column;
                align-self: center;
                .name {
            		font-size: 22px;
            	}
            }

            .score_container {
                flex-grow: 2;
                margin-right: 20px;
                line-height: 65px;
                font-size: 22px;
                text-align: right;
                .fa-stack {
                    font-size: 1rem;
                }
            }
		}
	}
}
