.fb-comments-container {
    height: 98%;
    overflow: auto;
}

$leaderboard-list-bg: #e2f1f6;
$leaderboard-list-even-bg: lighten($leaderboard-list-bg, 2%);

.leaderboard {

  .fb-publish-actions-not-granted {
		margin-bottom: 20px;
	}

  .loader {
    text-align: center;
    font-size: 4rem;
    margin-top: 185px;
  }

  &__top-bar {
  display: flex;

    > h2 {
    border: none;
    }

  }

  &__list {
  margin: 0;
  color: #444;
  background: $leaderboard-list-bg;
  border: 2px solid rgba(0, 0, 0, .1);

    > li {
    display: flex;
    align-items: center;
    padding: 5px 15px;

      &:not(:last-child) {
      border-bottom: 2px solid rgba(0, 0, 0, .05);
      }

      &:nth-child(even) {
      background: $leaderboard-list-even-bg;
      }

    }

    &__avatar {
    margin-right: 15px;
    }

    &__username {
    font-weight: bold;
    color: #4a7996;
    }

    &__score {
    margin-left: auto;
    font-size: 12px;

      .score {
      margin-right: 5px;
      color: #E8AC00;
      }

      .fa {
      color: rgba(0, 0, 0, .3);
      font-size: 14px;
      }

    }

  }

}
