#lab {

    .tab-container {

        .pietimer {
        top: -103%;
        }

    }

}

#lab-tab {

    .pietimer {
    top: -10%;
    }

}

.link-overlay {
position: absolute;
top: -14px;
left: 5px;
bottom: 13px;
right: 6px;
}

.pietimer {
position: relative;
font-size: 4rem;
width: 100%;
height: 100%;
float: left;
background-color: rgba(60, 59, 60, 0.5);
color: white;
}

.pietimer > .percent {
position: absolute;
left: 0;
width: 3.33em;
line-height: 3;
font-size: 0.3em;
text-align: center;
vertical-align: middle;
display: none;
}

.pietimer > .slice {
position: absolute;
width: 100%;
height: 100%;
clip: rect(0px,1em,1em,0.5em);
}

.pietimer > .slice.gt50 {
clip: rect(auto, auto, auto, auto);
}

.pietimer > .slice > .pie {
border: 0.1em solid #c0c0c0;
position: absolute;
width: 100%; /* 1 - (2 * border width) */
height: 100%; /* 1 - (2 * border width) */
clip: rect(0em,0.5em,1em,0em);
border-radius: 0.5em;
}

.pietimer > .slice > .pie.fill {
-moz-transform: rotate(180deg) !important;
-webkit-transform: rotate(180deg) !important;
-o-transform: rotate(180deg) !important;
transform: rotate(180deg) !important;
}

.pietimer.fill > .percent {
display: none;
}

.pietimer.fill > .slice > .pie {
border: transparent;
background-color: #c0c0c0;
width: 1em;
height: 1em;
}
