.progress-bar-container {
display: flex;
margin-bottom: 5px;

    .exp-meter {
    flex-grow: 2;
    }

    .points {
    width: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 8px;

        &:not(.in_progress) {
        background-color: $primary-text-color;
        border: 1px solid #537079;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $primary-text-color), color-stop(1, lighten($primary-text-color, 20%)));
        background-image: -webkit-linear-gradient(center bottom, $primary-text-color 37%, lighten($primary-text-color, 20%) 69%);
        background-image: -moz-linear-gradient(center bottom, $primary-text-color 37%, lighten($primary-text-color, 20%) 69%);
        background-image: -ms-linear-gradient(center bottom, $primary-text-color 37%, lighten($primary-text-color, 20%) 69%);
        background-image: -o-linear-gradient(center bottom, $primary-text-color 37%, lighten($primary-text-color, 20%) 69%);
        color: #fff;
        }

    }

}

.exp-meter {
background-color: #eaeaea;
height: 18px;
top: 131px;
left: 100px;
right: 28px;
margin-top: 5px;
border-radius: 5px;
border: 1px solid #BDBDBD;
text-align: center;
line-height: 15px;
border-radius: 5px;
height: 99%;

    .exp-meter-progress {
    background-color: #2bc253;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #54f054));
    background-image: -webkit-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
    background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
    background-image: -ms-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
    background-image: -o-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);

        &.in_progress {
        background-color: #606762;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #606762), color-stop(1, #D0E0D0));
        background-image: -moz-linear-gradient(center bottom, #606762 37%, #D0E0D0 69%);
        background-image: -ms-linear-gradient(center bottom, #606762 37%, #D0E0D0 69%);
        background-image: -o-linear-gradient(center bottom, #606762 37%, #D0E0D0 69%);
        }

    }

    .exp-meter-text {
    position: relative;
    font-weight: bold;
    }

    .text {
    top: -1rem;
    }

}
