$progress-bar-height: 24px;
$progress-bar-bg: #ccc;
$progress-bar-color: rgba(0, 0, 0, .3);
$progress-bar-border-color: rgba(0, 0, 0, .3);
$progress-bar-progress-border-color: rgba(0, 0, 0, .3);
$progress-bar-radius: 5px;

$className: ".lr-progress";

#{$className} {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &__bar {
        display: flex;
        align-items: center;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        background: $progress-bar-bg;
        height: $progress-bar-height;
        flex-grow: 1;
        border-radius: $progress-bar-radius;
        box-shadow: inset 0 0 0 2px $progress-bar-border-color;

        &__progress {
            height: 100%;
            border-radius: $progress-bar-radius;
            background: linear-gradient(to bottom, #fff, #ccc);
            box-shadow: inset 0 0 0 2px $progress-bar-progress-border-color;

            &--completed {
                background: linear-gradient(to bottom, #52f552, #25b94c);

                + #{$className}__bar__text {
                color: #fff;
                }
            }
        }

        &__text {
            position: absolute;
            left: 50%;
            top: 54%;
            font-family: "Kraash";
            font-size: 10px;
            color: $progress-bar-color;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            &--in-progress {
            color: rgba(0, 0, 0, .6);
            }
        }
    }

    &__points {
        width: 58px;
        text-align: center;
        margin-left: 20px;
        display: flex;
        align-items: center;
        font-family: "Kraash";
        font-size: 10px;
        justify-content: space-between;

        &__star {
            height: $progress-bar-height;
            vertical-align: middle;
        }

        &__achievement-points {
            margin-top: 3px;
        }
    }
}
