// grid
$bp-xs-max: 950px;
$bp-md-min: 951px;
$bp-md-max: 1442px;
$bp-lg-min: 1443px;

// fonts
$font-family-main: Label;
$font-weight-normal: normal;
$font-weight-bold: bold;

// colors
$primary-color: $darkblue;
$secondary-color: #777;

$bg-color: $darkblue;

$success-color: #64C187;
$warning-color: #f08a24;
$alert-color: #F17F40;

$locked-color: $darkgrey;
$locked-bg-color: $lightgrey;
$locked-border: 1px solid $locked-color;

$border-color: $primary-color;

$primary-text-color: darken($primary-color, 30%);

$border: 1px solid $border-color;
$border-thick: 2px solid $border-color;

.clickable {
	cursor: pointer;
}
