.statistics-container {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  .container-column {
    &:last-of-type {
      flex-grow: 2;
    }
    .list-item-label {
      font-weight: bold;
      padding-right: 25px;
    }
  }
}
