.flex-container {
  display:flex;
  &.center {
    justify-content: center;
  }
  &.center-y {
    align-items: center;
  }
  &.center-xy {
    justify-content: center;
    align-items: center;
  }
  &.direction-column {
    flex-direction: column;
  }
}

.flex-item {
  &.center {
    align-self: center;
  }
}

.row {
  max-width: 100%;
}

.inline-block {
  display: inline-block;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
