@import "assets";

@import "settings";

@import "templates";

@import "elements";

@import "forms";
@import "labels";

@import "components";
@import "routes";
@import "scenes";

@import "achievements";
@import "challenges";
@import "cockpit";
@import "component_level_upgrades";
@import "friends";
@import "leaderboard";
@import "lists";

@import "pietimer";

@import "vendor/perfect-scroll";

.fa-stack {
    color: $darkblue;
}

.active {
    .fa-stack {
    color: white;
    }
}

.little_rocket {
    font-family: Agency_FB;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 9px;
}

.scrollable-list {
    height: 495px;
    width: 100%;
    overflow: auto;
    font-size: 18px;
}

.list-item-column {
  .pietimer {
    top: -65px;
  }
  .button {
      width: 100px;
  }
}

.prompt {
  z-index: 9999;
}

.tab-container {
  margin-top: 15px;
  margin-bottom: 15px;
  .tab {
    display: inline-block;
  }
}

.block-button, .tab {
  font-size: 2.4em;
  min-width: 65px;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-bottom: $border;

  .fa-stack {
    width: 100%;
    height: 100%;
    line-height: 50px;
  }

  .locked {
    margin-top: 15px;
    margin-left: 15px;
  }
}

.block-button, .tab, .title .item {
  border-left: $border;
  border-top: $border;
  border-right: $border;
  text-align: center;
  color: $darkblue;
  background-color: #EBF3F6;

  &:hover {
    background-color: white;
    cursor: pointer;
  }

  &.active {
    background-color: $darkblue;
    cursor: default;
    color: white;
    .info {
      color: white;
    }
  }

  a {
    display: inline-block;
    height: 100%;
    width: 100%;
    color: $darkblue;

    span {
      top: -6px;
      padding: 5px;
    }

    &.active {
      background-color: $darkblue;
      cursor: default;
      color: white;
    }

    &:not(.active)
    {
      &:hover
      {
        :not(.locked) {
          background-color: white;
          cursor: pointer;
        }
      }
    }
  }

  .link-overlay {
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      color: $darkblue;

      span {
        top: -6px;
        padding: 5px;
      }

      &.active {
        background: none;
        cursor: default;
        color: white;
      }

      &:not(.active)
      {
        &:hover
        {
          background: none;
          cursor: pointer;
        }
      }
    }
  }

  .has-tip {
    height: 2.5rem;
    margin-top: 15px;
    margin-left: 3px;
  }

  .info {
    position: relative;
    bottom: 63px;
    right: 22px;
    padding: 3px;
    font-size: 18px;
    line-height: 0.7rem;
    color: $primary-text-color;
    font-weight: bold;
    display: block;
  }

  .fa-check {
    color: #2bc253;
    margin-top: 15px;
    margin-left: 15px;
  }

  .locked {
    color: #666;
    cursor: pointer;
  }

  .under_construction {
    color: orange;
  }
}

.block-button {
  display: block;
  &.uncommon {
    color: $success-color;
    border-color: $success-color;
    .info {
      color: $success-color;
    }
  }
  &.rare {
    color: $alert-color;
    border-color: $alert-color;
    .info {
      color: $alert-color;
    }
  }
}

.active {
  &.uncommon {
    color: white;
    background-color: $success-color;
    .info {
      color: white;
    }
  }
  &.rare {
    color: white;
    background-color: $alert-color;
    .info {
      color: white;
    }
  }
}
