.ad-banner {
	&.vertical {
		display: table-cell;
		width: 160px;
		@media (max-width: 800px) {
			display: none;
		}
	}
}

#ad_banner_bottom {
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -364px;
	@media (max-width: 799px) {
		display: none;
	}
}
