.armada {
  text-align: center;
  h2 {
    text-align: left;
  }
  h3 {
    border-bottom: $border;
    color: darken($darkblue, 10%);
  }
  .members-list {
    height: 378px;
    margin-right: -17px;
  }
  .members-count {
    float: right;
  }
  .button {
    padding: 10px 15px;
    margin-left: 15px;
    &.big {
      margin: 30px;
      width: 300px;
      &.first {
        margin-top: 50px;
      }
    }
    &.save {
      margin-bottom: 20px;
    }
    &.back {
      width: auto;
      margin: 20px;
    }
  }
  .name {
    flex-grow: 2;
    text-align: left;
    padding-right: 15px;
  }
  .counter {
    position: initial;
    margin-left: 10px;
    background-color: #F17F40;
    position: absolute;
    bottom: -10px;
    z-index: 1;
  }
  .join {
    padding: 5px;
    margin: 0;
    width: 60px;
  }
  .invite {
    margin-top: 50px;
  }
  .title {
    .button {
      margin: 0;
      width: 45px;
      padding: 10px 13px;
      margin-bottom: 3px;
      margin-left: 10px;
    }
    .counter {
      position: absolute;
      bottom: -10px;
    }
  }
  .name-status-icon {
    width: 30px;
  }
  .confirm-dialog {
    top: 185px;
  }
  .armada-leaderboard {
    table {
      width: 100%;
      th {
        background: $darkblue;
        color: white;
        font-size: 1.1rem;
        font-weight: normal;
        padding: 5px 0.625rem;
        .has-tip {
          color: white;
        }
      }
    }
  }
  .lr-avatar {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
}
