.armada {
  text-align: center;
  h2 {
    text-align: left;
  }
  h3 {
    border-bottom: $border;
    color: darken($darkblue, 10%);
  }
  .members-list {
    height: 378px;
    margin-right: -17px;
  }
  .members-count {
    float: right;
  }
  .list-item {
    height: auto;
    div {
      padding: 0.5rem 0.7rem 0.5rem;
    }
  }
  .button {
    &.big {
      margin: 30px;
      width: 300px;
      &.first {
        margin-top: 50px;
      }
    }
    &.save {
      margin-bottom: 20px;
    }
    &.back {
      width: auto;
      margin: 20px;
    }
    &.close {
      margin-top: 20px;
    }
  }
  .name {
    flex-grow: 2;
    text-align: left;
    padding-right: 15px;
  }
  .counter {
    display: inline-block;
    color: white;
    font-size: 0.8rem;
    border-radius: 30px;
    padding: 5px 9px;
    width: auto;
    margin-left: 10px;
    background-color: #F17F40;
    position: absolute;
    bottom: -10px;
    z-index: 1;
  }
  .join {
    padding: 5px;
    margin: 0;
    width: 60px;
  }
  .invite {
    margin-top: 50px;
  }
  .title {
    .button {
      margin: 0;
      width: 45px;
      padding: 10px 13px;
      margin-bottom: 3px;
      margin-left: 10px;
    }
  }
  .name-status-icon {
    width: 30px;
  }
  .confirm-dialog {
    position: absolute;
    background-color: $darkblue;
    font-size: 1.5rem;
    padding: 15px;
    top: 185px;
    right: 15px;
    left: 15px;
    bottom: 10px;
    border: 1px solid $primary-text-color;
  }
  .armada-leaderboard {
    table {
      width: 100%;
      th {
        background: $darkblue;
        color: white;
        font-size: 1.1rem;
        font-weight: normal;
        padding: 5px 0.625rem;
        .has-tip {
          color: white;
        }
      }
    }
  }
}
