.menu {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	top: 15px;
  	left: 0;
  	bottom: 0;
  	margin: 0px auto;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .button {

    }
}
