
$lr-avatar-border-radius: 15%;
$lr-avatar-addon-border-radius: 5px;
$lr-avatar-addon-bg: $darkblue;
$lr-avatar-addon-color: #fff;
$lr-avatar-addon-height: 20px;
$lr-avatar-addon-font-size: 7px;
$lr-avatar-addon-padding: 0 5px;
$lr-avatar-addon-border: 2px solid rgba(0, 0, 0, 0.25);

$className: ".lr-avatar";

#{$className} {
	position: relative;
	border-radius: $lr-avatar-border-radius;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		border: 2px solid rgba(0, 0, 0, .3);
		border-radius: $lr-avatar-border-radius;
	}

	&__image {
		border-radius: $lr-avatar-border-radius;
		max-width: 100%;
		max-height: 100%;
	}

	&__addon {
		position: absolute;
		z-index: 1;
		bottom: -3px;
		left: -3px;
		font-size: $lr-avatar-addon-font-size;
		font-family: Kraash;

		&__rank {
			display: flex;
			align-items: center;
			background: $lr-avatar-addon-bg;
			color: $lr-avatar-addon-color;
			height: $lr-avatar-addon-height;
			line-height: $lr-avatar-addon-height;
			padding: $lr-avatar-addon-padding;
			border-radius: $lr-avatar-addon-border-radius;
			border: $lr-avatar-addon-border;
		}
	}
}
