@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  	 -moz-transform: rotate($deg);
  	  -ms-transform: rotate($deg);
  		  transform: rotate($deg);
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
	 -moz-box-shadow: $top $left $blur $color #{$inset};
		  box-shadow: $top $left $blur $color #{$inset};
}

@mixin text-not-selectable() {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
