<h2 class="flex">
  <div>Quests</div>
  {{!-- <div class="flex__right h_info">{{achievementPoints.content}} / {{achievementPointsTotal.content}}</div> --}}
</h2>

{{player-hud-components/quest-component/quest-list quests=me.user.user_quests}}
