<div class="statistics">
  <h2>Statistics</h2>
  <div class="statistics-container">
    <div class="container-column">
      <div class="list-item list-item-label">flights</div>
      <div class="list-item list-item-label">stars (all time)</div>
    </div>
    <div class="container-column">
      <div class="list-item">{{me.user.flights}}</div>
      <div class="list-item">{{me.user.stars_all_time}}</div>
    </div>
  </div>
</div>
