<div class="statistics">
  <h2>Statistics</h2>
  <div class="table-container">
    <div class="container-column">
      <div class="list-item">
        <div class="list-item-part list-item-label">experience</div>
      </div>
      <div class="list-item">
        <div class="list-item-part list-item-label">flights</div>
      </div>
      <div class="list-item">
        <div class="list-item-part list-item-label">stars (all time)</div>
      </div>
      <div class="list-item">
        <div class="list-item-part list-item-label">stage reached</div>
      </div>
    </div>
    <div class="container-column">
      <div class="list-item">
        <div class="list-item-part">{{me.user.experience}}</div>
      </div>
      <div class="list-item">
        <div class="list-item-part">{{me.user.flights}}</div>
      </div>
      <div class="list-item">
        <div class="list-item-part">{{me.user.stars_all_time}}</div>
      </div>
      <div class="list-item">
        <div class="list-item-part">{{me.user.reached_level}}</div>
      </div>
    </div>
  </div>
</div>
