<div class="menu-content">
    {{#each buttons as |button index|}}
        {{#lib/lr-button index=index name=button.name focused=button.focused buttonAction=(action button.action)}}
            {{fa-icon button.icon size="lg"}} {{button.display}}
        {{/lib/lr-button}}
    {{/each}}
</div>
