h1 {
  color: $primary-text-color;
}

h2 {
  font-size: 1.5rem;
  border-bottom: $border;
  color: #82A6B3;
  margin-bottom: 0;
  .h-sub-nav {
    display: inline-block;
    float: right;
    .fa-stack {
      font-size: 1rem;
      height: 28px;
      line-height: 31px;
      top: -3px;
    }
    a {
      display: inline-block;
      line-height: 32px;
      margin-left: 3px;
      border: $border;
      width: 40px;
      text-align: center;
      &:not(.active) {
        color: $darkblue;
      }
      &.active {
        color: white;
        background-color: $darkblue;
        &:hover {
          color: white;
        }
      }
    }
    .section {
      display: inline-block;
      margin-left: 20px;
    }
  }
  .button {
    display: inline-block;
    margin: 0;
    margin-left: 5px;
    padding: 5px 15px;
  }
}

h3 {
  color: #415A62;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.h-info {
  float: right;
  display: flex;
  .h-info-item {
    margin-left: 30px;
  }
  .recharge-info {
    position: absolute;
    display: flex;
    justify-content: space-around;
    right: 15px;
    font-size: 1rem;
    top: 50px;
    z-index: 1;
    .recharge-info-item{
      background: $darkblue;
      color: white;
      padding: 0px 5px;
      @include border-radius(5px);
      border: 1px solid $darkblue;
      &.add-more {
        cursor: pointer;
        margin-left: 2px;
        background-color: #2bc253;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #54f054));
        background-image: -webkit-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
        background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
        background-image: -ms-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
        background-image: -o-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
      }
    }
  }
}
