table {
border-collapse: collapse;

    tr {

        td {
        color: $primary-text-color;
        }

        &:nth-of-type(even) {
        background-color: lighten($lightblue, 8%);
        }
    }
}
