<h2>
  Armada
</h2>
<div class="scrollable-list">
  {{#if me.user.armada}}

  {{else}}
    <div class="empty-info-text">
      You're not in any Armada at the moment.
      <div class="button first">{{fa-icon "search"}} Search for an Armada</div>
      <div class="button">{{fa-icon "plus"}} Create a new Armada</div>
    </div>
  {{/if}}
</div>
