<h2>
  Challenges
</h2>
<div class="scrollable-list challenges">
  {{#each challenge in me.user.challenges}}
    <div>{{friend.name}}</div>
  {{/each}}
  {{#each friend in me.friends}}
    <div class="challenge">{{friend.name}}<button {{action "sendChallengeRequest" friend.long_fb_id}}>challenge</button></div>
  {{/each}}
</div>
