html {
	height: 100%;
}

body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0px;

	color: $primary-text-color;
	font-family: Calibri, sans-serif;

	overflow: hidden;

	background: $bg-color;
	background: -moz-linear-gradient(top,  #ffffff 0%, #c3dde5 70%, $bg-color 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(70%,#c3dde5), color-stop(100%,#add8e6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#c3dde5 70%, $bg-color 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#c3dde5 70%, $bg-color 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#c3dde5 70%, $bg-color 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#c3dde5 70%, $bg-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr=$bg-color,GradientType=0 );
}

.clouds {
	position: absolute;
	display: flex;
	justify-content: space-around;
	bottom: 0;
	left: 0;
	right: 0;
}

.cloud {
	margin: 10px;
	img {
		width: 100%;
	}

	&.--right {
		@media (max-width: 800px) {
			display: none;
		}
	}
}
