<div id="fb-like" class="fb-like"
  data-href="https://www.facebook.com/pages/Little-Rocket/1505447519673452"
  data-layout="button_count"
  data-action="like"
  data-show-faces="true"
  data-share="true"
  data-with="300">
</div>
