{{top-nav-bar me=model}}

<div id="main">

			<div class="clouds clouds_left show-for-large-up"><img src="assets/images/clouds_600x113.png" /></div>
			<div class="clouds clouds_right show-for-large-up"><img src="assets/images/clouds_600x113.png" /></div>

			<div class="row">

				<div class="columns hud-container cockpit">
					{{player-hud-component
						me=model
						currentSection=player_hud_section
						currentCockpitSection=cockpit_section
						currentLabSection=lab_section}}
				</div>

				<div class="columns game">
					{{game-canvas me=model}}
				</div>

				<div class="columns hud-container leaderboard">
					{{social-component me=model currentSection=social_section}}
				</div>

			</div>

			<div class="row show-for-large-up">
				<div class="small-12 columns">
					<div id="footer_banner"></div>
					{{!-- <iframe id="footer_banner" src="//admin.appnext.com/htmlBar/index.html?id=b445fb17-2013-43a4-b3a7-c759eb86c7ec"
					align="center" width="760" height="72" marginwidth="0" marginheight="O" hspace="0" vspace="0" style="border:solid 1px;border-radius: 1opx" scrolling="no"></iframe> --}}
				</div>
			</div>

</div>
