<div class="clouds">
  <div class="cloud --left"><img src="assets/images/clouds_600x113.png" /></div>
  <div class="cloud --right"><img src="assets/images/clouds_600x113.png" /></div>
</div>

<div class="login-container">
  <div class="login-content">
    <img src="assets/images/login.png" />
    <div class="loader">
      <img src="assets/images/preloaders/loading.svg" />
    </div>
  </div>
</div>
