<div id="fb-root"></div>

{{top-nav-bar me=model}}

<div id="main">

			<div class="clouds clouds_left show-for-large-up"><img src="assets/images/clouds_600x113.png" /></div>
			<div class="clouds clouds_right show-for-large-up"><img src="assets/images/clouds_600x113.png" /></div>

			<div class="row">

				<div class="columns cockpit">
					{{cockpit-component me=model}}
				</div>

				<div class="columns game">
					{{game-canvas me=model}}
				</div>

				<div class="columns leaderboard">
					{{leaderboard-component me=model}}
				</div>

			</div>

			<div class="row show-for-large-up">
				<div class="small-12 columns">
					<iframe id="app_next_banner" src="//admin.appnext.com/htmlBar/index.html?id=b445fb17-2013-43a4-b3a7-c759eb86c7ec"
					align="center" width="760" height="72" marginwidth="0" marginheight="O" hspace="0" vspace="0" style="border:solid 1px;border-radius: 1opx" scrolling="no"></iframe>
				</div>
			</div>

</div>

{{!-- //  <script src='apps/little_rocket/js/little_rocket.js'></script>
//  <script src='little_rocket/scenes/Level_Selection.js'></script>
//
//  <script src='little_rocket/lib/Cockpit.js'></script>
//  <script src='little_rocket/lib/Workbench.js'></script>
//  <script src='little_rocket/lib/Lab.js'></script>
//  <script src='little_rocket/lib/Canon.js'></script>
//  <script src='little_rocket/lib/CanonCapacityUpgrade.js'></script>
// <script src='little_rocket/lib/TransformableSprite.js'></script>
// <script src='little_rocket/lib/Rocket.js'></script>
// <script src='little_rocket/lib/Bullet.js'></script>
// <script src='little_rocket/lib/Asteroid.js'></script>
// <script src='little_rocket/lib/Star.js'></script>
// <script src='little_rocket/lib/Ufo.js'></script> --}}

{{!-- // <script>
//
// 	if(cockpit == undefined)
// 		cockpit = new Cockpit();
//
// 	$( document ).on( 'click', '.workbench', function()
// 	{
// 		if(cockpit.hasWorkbench() && !cockpit.workbench.isOpen)
// 		{
// 			cockpit.workbench.open();
// 		}
// 		else if(cockpit.hasWorkbench() && cockpit.workbench.isOpen)
// 		{
// 			cockpit.workbench.close();
// 		}
// 		else if(cockpit.workbench.status == 'under_construction')
// 		{
// 			console.log('still under construction');
// 		}
// 		else if(cockpit.workbench.status == 'construction_complete')
// 		{
// 			cockpit.setWorkbenchStatus('active');
// 			sendWorkbenchStatus('active');
// 		}
// 		else if(!cockpit.hasWorkbench())
// 		{
// 			console.log('buy workbench');
// 			cockpit.buyWorkbench();
// 		}
// 	});
//
// 	$( document ).on( 'click', '.lab', function()
// 	{
// 		if(cockpit.hasLab() && !cockpit.lab.isOpen)
// 		{
// 			cockpit.lab.open();
// 		}
// 		else if(cockpit.hasLab() && cockpit.lab.isOpen)
// 		{
// 			cockpit.lab.close();
// 		}
// 		else if(cockpit.lab.status == 'under_construction')
// 		{
// 			console.log('still under construction');
// 		}
// 		else if(cockpit.lab.status == 'construction_complete')
// 		{
// 			cockpit.lab.setStatus('active');
// 			sendLabStatus('active');
// 		}
// 		else if(!cockpit.hasLab())
// 		{
// 			console.log('buy lab');
// 			cockpit.lab.buy();
// 		}
// 	});
//
// 	$( document ).on( 'click', '#canon', function()
// 	{
// 		if(cockpit.canon.status == 'under_construction')
// 		{
// 			console.log('still under construction');
// 		}
// 		else if(cockpit.canon.status == 'construction_complete')
// 		{
// 			cockpit.setCanonStatus('active');
// 			sendCanon('active', cockpit.canon.capacity);
// 		}
// 		else if(!cockpit.hasCanon())
// 		{
// 			console.log('buy canon');
// 			cockpit.buyCanon();
// 		}
// 	});
//
// 	var canon_capacity_upgrade = null;
//
// 	$( document ).on( 'click', '#canon-upgrades-infos > .buyable', function()
// 	{
// 		console.log('click on canon capacity upgrade', canon_capacity_upgrade);
//
// 		if(canon_capacity_upgrade == null)
// 		{
// 			canon_capacity_upgrade = cockpit.lab.canon_capacity_upgrades.shift();
//
// 			if(canon_capacity_upgrade != undefined)
// 				canon_capacity_upgrade.buy();
// 		}
// 		else if(canon_capacity_upgrade.status == 'under_construction')
// 		{
// 			console.log('still under construction');
// 		}
// 		else if(canon_capacity_upgrade.status == 'construction_complete')
// 		{
// 			// canon_capaciy_upgrade wird wieder auf null gesetzt und es kann das nächste upgrade gekauft werden
// 		}
// 	});
//
// </script> --}}
