<div class="clouds">
  <div class="cloud --left"><img src="assets/images/clouds_600x113.png" /></div>
  <div class="cloud --right"><img src="assets/images/clouds_600x113.png" /></div>
</div>

{{outlet}}
