<div class="intern-content">

    {{ad-banner id="ad_banner_left" type="vertical" adKey="d93" adSize="160x600" slot="slot168551"}}

    <div class="game-canvas">
        {{outlet}}
    </div>

    {{ad-banner id="ad_banner_right" type="vertical" adKey="d93" adSize="160x600" slot="slot168551"}}

</div>

{{top-nav-bar me=model}}
