<div class="columns hud-container leaderboard">
  {{social-component
    me=model
    currentSection=social_section
    currentChallengesSection=challenges_section
    leaderboardFilterBy=leaderboard_filterBy
    leaderboardSortBy=leaderboard_sortBy}}
</div>
