{{player-hud-component-loading}}

<div class="columns column-center">
  <div class="login-container">
    <div class="login-content">
      <img src="assets/images/store_images/large_mobile_banner_272x167.png" />
        <div class="fb-button login" {{action 'login'}}>
          {{fa-icon "facebook-square"}} login
        </div>
    </div>
  </div>
</div>

{{social-component-loading}}
