<div class="login-container">
  <div class="login-content">
    <img src="assets/images/login.png" />
    <div class="fb-button login-button" {{action 'login'}}>
      {{fa-icon "facebook-square"}} login with facebook
    </div>
  </div>
</div>
