<div {{action 'loadStage' stage}}>
  {{#if (gte reached_level stage)}}
    <img src="assets/images/star.png" />
  {{else}}
    {{#if (gte stage '7')}}
      <img src="assets/images/star_coming_soon.png" />
    {{else}}
      <img src="assets/images/star_locked.png" />
    {{/if}}
  {{/if}}
  <div class="stage-number">{{stage}}</div>
</div>
